body {
    box-sizing: border-box;

}

div:nth-child(even) {
    width: 50%;
    height: 150px;
}

div:nth-child(odd) {
    width: 75%;
    height: 150px;
}

* {
    margin: 0px;
}

.div1 {
    background: #55B3B9;
    margin: 10px auto 10px 10px;
}

.div2 {
    background: #C56060;
    margin-left: auto;
    margin-bottom: 10px;
}

.div3 {
    background: #8FC091;
    margin: 0px auto 10px;
    text-align: center;
}

.div4 {
    background: #8F86AF;
    margin: 0px auto auto 10px;
}

h3 {
    font-family: Sail;

}

h1, h2 {
    font-family: Roboto;
}

.div3 h3 {
    text-decoration: underline;
}

.div4 {
    text-decoration: line-through;
}

.h_1 {
    font-size: 3.375em;
    margin: 0px 0px 0px 10px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
}

.h_2 {
    font-size: 2.625em;
    margin: 0px 0px 0px 10px;
    font-weight: 500;
    color: rgba(34, 34, 34, 1)
}

.h_3 {
    font-size: 2.625em;
    margin: 0px 0px 0px 10px;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.69);
}

.h_4 {
    font-size: 1.75em;
    margin: 0px 0px 0px 10px;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.69);
}

.h_5 {
    font-size: 1.5em;
    margin: 0px 0px 0px 10px;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.62);
}

.h_6 {
    font-size: 1em;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.62);
}

.h_7 {
    font-size: 2.625em;
    margin: 0px 0px 0px 10px;
    font-weight: 800;
    color: rgba(46, 46, 46, 0.42);
}

.h_8 {
    font-size: 1.75em;
    margin: 0px 0px 0px 10px;
    font-weight: 400;
    color: rgba(46, 46, 46, 0.42);
}

.h_1:hover {
    font-size: 6.75em;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    transition: all 1s .5s;
}

.div1:hover {
    background: #55B3B9;
    margin: 0px;
    width: 100%;
    height: 85%;
}

.h_2:hover {
    font-size: 5.25em;
    font-weight: 500;
    color: rgba(34, 34, 34, 1);
    transition: all 1s .5s;
}

.h_3:hover {
    font-size: 5.25em;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.69);
    transition: all 1s .5s;
}

.h_4:hover {
    font-size: 3.5em;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.69);
    transition: all 1s .5s;
}

.h_5:hover {
    font-size: 3em;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.62);
    transition: all 1s .5s;
}

.h_6:hover {
    font-size: 2em;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.62);
    transition: all 1s .5s;
}

.h_7:hover {
    font-size: 5.25em;
    font-weight: 800;
    color: rgba(46, 46, 46, 0.42);
    transition: all 1s .5s;
}

.h_8:hover {
    font-size: 3.5em;
    font-weight: 400;
    color: rgba(46, 46, 46, 0.42);
    transition: all 1s .5s;
}

.div2:hover {
    background: #C56060;
    margin: 0px;
    width: 100%;
}

.div3:hover {
    background: #8FC091;
    margin: 0px;
    width: 100%;
}

.div4:hover {
    background: #8F86AF;
    margin: 0px;
    width: 100%;
}

.h_1:hover {
    text-decoration: underline;
}

.h_2:hover {
    text-decoration: underline;
}

.h_3:hover {
    text-decoration: underline;
}

.h_4:hover {
    text-decoration: underline;
}

.h_5:hover {
    text-decoration: underline;
}

.h_6:hover {
    text-decoration: underline;
}

.h_7:hover {
    text-decoration: underline;
}

.h_8:hover {
    text-decoration: underline;
}

.div1:hover + .div2 {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

.div2:hover + .div3 {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

.div3:hover + .div4 {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

.div1:hover {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}